.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    
}

.container-body {
    padding: 25px;
    height: 400px;
    width: 400px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.container-title {
    text-align: center;
    padding: 8px;
    margin: 20px;
    font-size: 25px;
}


#male, #female, #other, #terms{
    display: inline;
    width: auto;
    text-align: center;
}

input, select {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 5px;
}

#noacc, .card-link {
    display: inline;
}

.center-links {
    text-align: center;
    margin-top: 15px;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    
}

.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    
}
.register-container-body {
    padding: 25px;
    height: auto;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
